__pycache__/
*.pyc
*.ipynb_checkpoints/
*.1
src/results/tf_ddpg/*
src/results/data/*
src/results/img/*

notebooks/results/*
src/results1/*
src/model/*
src/model1/*
src/model2/*
src/results/*
*.jpg
*.npy
src/model/*
src/model2/*
src/results2/*
src/results3/*
src/results4/*
src/results0/*
notebooks/model*
*.webm
*.mp4
